.cocktails-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    width: 90%;
    max-width: 140rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  
  .cocktails-container::-webkit-scrollbar {
    display: none;
  }
  
  .cocktails-container-title {
    margin-top: 3.5rem;
    padding: .3rem;
    text-align: center;
    font-family: var(--fuenteCursiva);
    font-size: 4rem;
    font-weight: 300;
  }
  
  .cocktail-container {
    position: relative;
    min-width: 30rem;
    margin-right: 1rem;
    color: white;
    overflow-y: hidden;
    border-radius: 0.8rem;
  }
  
  .cocktail-body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .cocktail-favorite{
    display: flex;
    justify-content: space-between;
  }
  
  .cocktail-favorite h1 {
    text-shadow: 2px 2px 2px black;
    font-family: var(--fuenteCursiva);
    font-size: 4rem;
    font-weight: 400;
    margin-top: 0;
    padding-left: 2rem;
  }
  
  .cocktail-favorite button{
    margin-right: 2rem;
    padding: 0;
    font-size: 3rem;
    background: transparent;
    border:none;
    cursor: pointer;
    align-self: center;
    color: var(--red);
  }

  #added-favorite {
    display: none;
  }
  
  #no-favorite.active {
    display: none;
  }
  
  #added-favorite.active {
    display: block;
    color: var(--red);
  }

  .cocktail-body p {
    text-align: center;
    font-size: 1.7rem;
    padding: 2rem;
  }
  
  .p-visible {
    position: absolute;
    top: 20%;
    color: white;
    letter-spacing: 0rem;
    transition: color 1.3s, top 1.3s;
  }
  
  .p-hidden {
    position: absolute;
    top: 100%;
    color: transparent;
    transition: color 1.3s, top 1.3s;
  }
  
  .bd-filter {
    backdrop-filter: blur(3px);
    background-color: rgba(1, 1, 1, 0.4);
    transition: backdrop-filter 0.4s;
  }
  
  .btn-angles button {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    color: var(--white);
    background-color: rgba(1, 1, 1, 0.4);
    border: none;
  }
  
  @media (min-width: 768px) {
    .cocktails-container {
      padding: 2rem;
      overflow-x: auto;
    }
  
    .cocktails-container-title {
      font-size: 5rem;
    }
  }
  
  @media (min-width: 1200px) {
    .cocktails-container {
      width: 95%;
      gap: 3.5rem;
      overflow-x: scroll;
    }
  
    .cocktail-container {
      margin-right: 0rem;
    }
  }
  
  /* Seccion utensillos */
  
  .utensils-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    background-color: var(--white);
    
  }
  
  .utensils-container {
    display: flex;
    width: 90%;
    max-width: 95rem;
    overflow-x: hidden;
  }
  
  .utensils-container::-webkit-scrollbar {
    display: none;
  }
  
  .utensils-container-title {
    font-family: var(--fuenteCursiva);
    font-weight: 400;
    text-align: center;
    font-size: 4.8rem;
    
  }
  
  .utensil-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    text-align: justify;
    background-color: var(--white);
    padding: 2rem;
   
  }
  
  .utensil-body {
    font-size: 1.8rem;
    max-height: 50rem;
  }
  
  .utensil-body h2 {
    font-size: 3.8rem;
    font-weight: 400;
    color: var(--maroon);
  }
  
  .utensil-img {
    width: 100%;
    max-width: 30rem;
  }
  
  .btns-carousel-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .btns-carousel-container button {
    border:none;
    font-size: 5rem;
    color: var(--maroon);
    background-color: var(--white);
    
  }
  
  
  @media (min-width: 1020px) {
      .utensils-container {
        display: flex;
        overflow-x: auto;
        
      }
      .utensil-container {
        flex-direction: row;
        align-items: center;
      } 
  
      .utensil-body {
        font-size: 1.7rem;
        padding: 2rem;
      }
  
      .utensil-img {
      padding-left: 3rem;
   }
}