:root {
  --fuenteHeading: "Merriweather", serif;
  --fuenteCursiva: "Cedarville Cursive", cursive;
  --fuenteParrafos: "Open Sans", sans-serif;

  --font-grey: #ffffffea;
  --grey: #eff2f7;
  --white: #ffffff;
  --black: #22092c;
  --maroon: #872341;
  --ligthMaroon: #54133d;
  --red: #be3144;
  --orange: #f05941;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.animacion-container {
  animation-timeline: scroll();
}

body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
  background-color: var(--grey);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100vw;
  min-height: 100vh;
  margin: 0;
}

/* Globales */

h1,
h2,
h3 {
  font-family: var(--fuenteHeading);
  font-weight: 600;
  margin: 1rem 0 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: var(--blanco);
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 150rem;
  width: 90%;
  margin: 0 auto;
}

/* Utilidades */

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.d-none {
  display: none;
}
#loginbtn
{
  cursor: pointer;
}
/* Header */

.header {
  background-image: linear-gradient(
    to bottom,
    #22092c,
    #3a0e36,
    #54133d,
    #6e1941,
    #872341
  );
  padding-bottom: 1.5rem;
}

.header-content {
  color: var(--white);
}

.logo {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: end;
  padding: 2.5rem 0;
}

.logo-title h1 {
  font-size: 4.5rem;
  line-height: 5rem;
}

.logo-title span {
  font-family: var(--fuenteCursiva);
  display: block;
}

.animacion-container {
  width: 10rem;
  height: 12rem;
  position: relative;
}

.animacion-img-coctelera {
  display: inline;
  position: absolute;
  left: 1.5rem;
  bottom: 0;
  width: 4rem;
  height: 8rem;
  animation: serve 3s 2;
  transition-timing-function: ease-in-out;
}

.animacion-img-copa,
.animacion-img-copallena {
  display: inline;
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  width: 4rem;
  height: 4rem;
}

.animacion-img-copallena {
  z-index: -1;
  animation: fill 3s 1;
  animation-delay: 1.5s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes serve {
  0%,
  100% {
    bottom: 0;
  }
  30% {
    transform: translateY(2rem, -7rem);
  }
  40% {
    transform: translateY(-3rem) rotate(45deg);
  }
  45% {
    transform: translateY(-3rem) rotate(60deg);
  }
  50% {
    transform: translateY(-3rem) rotate(80deg);
  }
  60% {
    transform: translateY(-3rem) rotate(120deg);
  }
  70% {
    transform: translateY(-3rem) rotate(45deg);
  }
}

@keyframes fill {
  0%,
  100% {
    z-index: 1;
  }
}

@keyframes Salida {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes Entrada {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.nav-landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  font-weight: 400;
  padding: 1.5rem;
}
.nav-link-landing {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.5rem;
}

.nav-link-landing i {
  font-size: 1.3rem;
}

.nav-link {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.5rem;
}

.nav-link i {
  padding-right: 1rem;
}

.nav-close {
  font-family: var(--fuenteParrafos);
  font-size: 1.4rem;
  font-weight: 100;
}

.nav-close i {
  padding-right: 0.3rem;
}

.nav-link:active {
  letter-spacing: 0.5rem;
}



/* Header -  Media Queries pantallas desde 768px*/

@media (min-width: 768px) {
  .header {
    padding-bottom: 2rem;
  }
  .logo {
    flex-direction: row-reverse;
    align-items: baseline;
    border-bottom: none;
    padding: 0rem;
  }

  .logo-title h1 {
    font-size: 6rem;
    font-weight: 400;
  }
  .logo-title span {
    display: inline;
    font-size: 3rem;
    font-weight: 100;
  }


  .btn-menu {
    display: none;
  }
}

/* Header -  Media Queries pantallas desde 1024px*/

@media (min-width: 1024px) {
  body {
    padding-top: 19rem;
  }
  .header {
    max-height: 25rem;
    padding-bottom: 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo-title span {
    display: block;
    padding-bottom: 2rem;
  }



  .nav {
    display: block;
  }

  .nav-link {
    display: inline;
    position: relative;
    margin-right: 2.5rem;
  }

  .nav-link::after {
    content: " ";
    position: absolute;
    background-color: var(--white);
    width: 0;
    height: 0.1rem;
    left: 0;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .nav-link:active {
    letter-spacing: normal;
  }
}

/* Header -  Media Queries pantallas desde 1400px*/

@media (min-width: 1500px) {
  .header {
    padding-bottom: 0rem;
  }

  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .logo {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

/* Banner + Buscadores */

.banner {
  background-image: url("../img/banner3.webp");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
  padding: 0.2rem 0;
}

#Bienvenida {
  color: white;
  background-color: #8723414b;
}

/* Tipo de Buscador */

.selector-major-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-grey);
  background-color: var(--maroon);
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem 0.3rem 0.3rem 0.3rem;
  border-radius: 0.3rem;
}

.selector-major-container p {
  font-size: 2rem;
  font-family: var(--fuenteHeading);
  font-weight: 400;
  margin: 0;
  padding-bottom: 1.5rem;
}

.selector-container {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  padding: 0.5rem;
  font-family: var(--fuenteParrafos);
  font-size: 1.5rem;
}

.selector-group {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: 1rem;
}

.selector-group input[type="radio"] {
  margin-right: 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
  border: none;
}

/* Buscador por nombre */

.search-for-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(61, 52, 52, 0.7);
  width: 100%;
  padding: 3rem;
  border-radius: 0 0 0.5rem 0.5rem;
  color: var(--white);
  margin: 0 auto;
}

.search-for-name-input {
  font-size: 1.5rem;
}



.search-for-name-group {
  width: 100%;
}

.search-for-name-group input {
  width: 100%;
  height: 4.5rem;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  border: none;
}

.validation-feedback {
  display: none;
  width: 100%;
  margin: .5rem auto;
  background-color: rgba(0, 0, 0, 0.4); 
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 2rem;
  text-align: center;
  font-style: italic;
  border-radius: 0px 0px 2rem 2rem;
}

.validation-feedback p {
  display: inline;
  padding-left: .5rem;
  margin: 0;
}

.validation-feedback i{
  color: var(--orange);
  font-size:1.8rem;
}

.btn-search {
  width: 100%;
  border: 0.1rem solid var(--orange);
  border-radius: 0.5rem;
  background-color: var(--maroon);
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 600;
  height: 4.8rem;
  margin-top: 1.2rem;
}

/* Buscador por ingrediente */

#search-ingred {
  position: relative;
  display: none;
}
.form {
  background-color: rgba(61, 52, 52, 0.7);
  width: 100%;
  min-height: 40rem;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 0 0 0.5rem 0.5rem;
  color: var(--white);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-label,
.form-label-check {
  color: var(--white);
}

.form-select {
  font-size: 1.7rem;
  font-weight: 500;
  width: 100%;
  height: 4.8rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: var(--grey);
  margin-top: 0.5rem;
}

.form-group-check {
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.mje-informativo {
  margin: 0 auto;
  font-family: var(--fuenteParrafos);
  line-height: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.mje-informativo p {
  display: inline;
  font-size: 1.4rem;
  color: var(--grey);
}

.mje-informativo a {
  color: var(--orange);
  font-weight: bold;
  text-decoration: underline;
}

/* Banner + Tipo de buscador + buscadores Media Queries pantallas desde 768px */

@media (min-width: 768px) {
  .banner {
    background-color: black;
    background-image: url("../img/banner4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 3rem 0;
  }

  /* tipo de buscador */

  .selector-major-container {
    border-top: none;
    max-width: 50rem;
    margin: 0rem auto;
    border-top: none;
  }

  .selector-container {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .selector-major-container p {
    font-size: 2rem;
  }

  .selector-group label {
    font-size: 1.8rem;
  }

  /* buscador por nombre */

  .search-for-name-group input {
    width: 80%;
  }

  .validation-feedback {
    width: 80%;
  }

  .search-for-name {
    max-width: 50rem;
  }

  /* buscador por ingrediente */

  .form {
    max-width: 50rem;
    padding: 4rem 0;
  }

  .form-label {
    font-size: 1.8rem;
  }

  .form-select {
    font-size: 1.8rem;
    height: 4rem;
    width: 80%;
  }

  .form-group-check {
    margin-top: 3.5rem;
  }

  .form-group-check input {
    width: 2.5rem;
  }

  .mje-informativo {
    width: 80%;
  }

  .form-label-check {
    font-size: 1.8rem;
  }

  .btn-search {
    width: 80%;
    font-size: 1.8rem;
    margin-top: 2rem;
  }
}

.btn-welcome {
  cursor: pointer;
}

@media (min-width: 1020px) { 
    .selector-major-container {
      margin-top: 5rem;
    }
 }

/* Banner + Tipo de buscador + buscadores Media Queries pantallas desde 1200px */

@media (min-width: 1200px) {
  .banner {
    background-color: black;
    background-image: url("../img/banner3.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 8rem 0rem;
  }

  /* buscador por nombre */

  .search-for-name label {
    font-size: 1.8rem;
  }

  .search-for-name {
    background-color: rgba(61, 52, 52, 0.9);
  }

  /* buscador por ingrediente */

  .form {
    background-color: rgba(61, 52, 52, 0.9);
  }

  .form-lg-center {
    width: 47%;
    max-width: 47%;
    float: left;
  }
  #Resultados {
    background-color: #eff2f779;
    float: right;
    max-width: 46%;
    margin-right: 3%;
    height: 500px;
    visibility: hidden;
  }
  #Seleccion1 {
    float: right;
    position: absolute;
    max-width: 45.5%;
    height: auto;
    z-index: 5;
    visibility: hidden;
  }
  #Seleccion2 {
    float: right;
    position: relative;

    z-index: 4;
    visibility: hidden;
  }
}

/* Mensaje Busqueda no encontrada */

.not-found-container {
  display: none;
  background-color: rgb(213, 204, 204);
  margin: 3rem auto;
  width: 90%;
  max-width: 120rem;
}

.not-found-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem;
  text-align: center;
}



.not-found-container i {
  font-size: 7rem;
}

.not-found-container p {
  font-size: 2rem;
}

#new-search {
  width: 25rem;
}

@media (min-width: 768px) {
  .not-found-container {
    padding: 8rem;
  }

  #btn-enlace {
    width: 25%;
  }
}

/* Section recipe */

.recipe-container-major {
  display: none;
  width: 90%;
  margin: 3rem auto;
}

.recipe-title {
  font-family: var(--fuenteCursiva);
  font-size: 3.8rem;
  font-weight: 100;
}

.favorite{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-favorite{
  position: absolute;
  color: white;
  opacity: 0;
}

.icon-favorite.like{
  animation: like 1s ease-in-out;
}

@keyframes like{
  0% {
    opacity: 0;
    font-size: 0;
  }
  15% {
    opacity: 1;
    font-size: 20rem;
  }
  30%{
    font-size: 16rem;
  }
  45%,
  80% {
    font-size: 18rem;
  }
  100%{
    font-size: 0;
    opacity: 1;
  }
}

.btn-enlace {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 4.8rem;
  background-image: linear-gradient(
    to right top,
    #770850,
    #760c4d,
    #74104a,
    #731347,
    #711644,
    #721843,
    #731942,
    #741b41,
    #791d41,
    #7e1f41,
    #822141,
    #872341
  );
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 400;
  border: 0.2rem solid var(--black);
  border-radius: 0.8rem;
  margin-top: 2rem;
}

.btn-enlace a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btn-enlace a > i {
  font-size: 2rem;
  padding-right: 1rem;
}

.recipe-subtitle {
  text-align: center;
  font-weight: 200;
  padding-left: 1rem;
}

.recipe-preparation {
  display: none;
  background-image: url("");
}

#backdrop {
  background-color: var(--white);
  padding: 2rem;
}


.recipe-ingredients,
.recipe-preparation {
  border: 1px solid var(--black);
  background-color: var(--white);
  margin: 1.5rem 0;
}

.btn-show,
.btn-show2,
.btn-show-toggle,
.btn-show-toggle2 {
  width: 100%;
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
  background-color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  height: 4.8rem;
  margin-top: 1rem;
}

/* Section recipe - Media Queries pantallas desde 768px */

@media (min-width: 768px) {

  .recipe-container-major {
    max-width: 60rem;
  }

  #results {
    scroll-margin-top: 18rem;
  }

  #recipe-container-major {
    scroll-margin-top: 18rem;
  }

  .btn-show,
  .btn-show2,
  .btn-show-toggle,
  .btn-show-toggle {
    width: 100%;
  }
}

/* Section recipe - Media Queries pantallas desde 1024px */

@media (min-width: 1024px) {
  .recipe-container-major {
    padding: 5rem;
    max-width: 100rem;
  }
  .recipe-subtitle {
    padding: 1rem;
  }

  .recipe-img.favorite{
    display: none;
  }

  .recipe-container {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .recipe-img {
    display: none;
  }
  .recipe-img2 {
    display: none;
  }

  .recipe-ingredients,
  .recipe-preparation,
  .recipe-preparation2 {
    margin: 0;
    padding: 0;
  }

  .recipe-preparation {
    display: block;
    background-image:'';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    grid-row: 1/6;
    grid-column: 2/6;
    color: transparent;
    background: '';
  }

  #backdrop {
    background-color: transparent;
  }
  
  .recipe-preparation2 {
    display: block;
    background-image: url("/img/daikiri.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-row: 1/6;
    grid-column: 2/6;
    color: transparent;
    background-color: rgb(255, 169, 169);
  }
  .backdrop-filter-on,
  .backdrop-filter-off {
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    height: 100%;
    padding: 3rem;
    color: var(--white);
    transition: color 1.2s, backdrop-filter 1s;
  }

  .backdrop-filter-off {
    backdrop-filter: blur(0px);
    color: transparent;
    transition: color 1.3s, backdrop-filter 1.3s;
  }

  .btn-show,
  .btn-show2 {
    display: none;
  }

  .btn-show:active {
    background-color: #872341;
  }
  .btn-show2:active {
    background-color: #872341;
  }
  .btn-show-toggle {
    display: block;
    width: 100%;
  }
  .btn-show-toggle2 {
    display: block;
    width: 100%;
  }
}

/* Lista de cocteles por ingrediente */
.list-group-container-major {
  display: none;
  padding: 2rem 0;
  background-color: rgb(243, 223, 223);
}

.list-group-container {
  padding: 3rem 1rem;
}

.list-title {
  font-family: var(--fuenteHeading);
  font-weight: 300;
  font-size: 2.3rem;
  line-height: 4rem;
  padding: 1.5rem 1.5rem .5rem;
}

.list-subtitle {
  font-family: var(--fuenteHeading);
  font-style: italic;
  margin: 0;
  font-size: 2rem;
  letter-spacing: .3rem;


}

.list-subtitle > span{
  font-weight: 600;
  font-size: 2rem;
  
}

.list-title > span {
  font-family: var(--fuenteCursiva);
  font-size: 3.8rem;
  font-weight: 400;
  padding-left: 1rem;
}

.list-group {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.list-group-item {
  width: 100%;
  margin-bottom: 1rem;
  border: 0.5rem solid var(--red);
  border-radius: 0.5rem;
  list-style: none;
  font-size: 1.8rem;
  background-color: #a4294e;
  transition: border 0.2s ease-in-out;
  color: white;
  font-family: var(--fuenteHeading);
  letter-spacing: 0.5rem;
}

.list-group-item a {
  background-color: #711644;
  padding: 2.5rem;
  display: block;
}

.list-group-item:hover {
  border: 0.5rem solid rgba(52, 48, 48, 0.323);
  letter-spacing: 0.8rem;
  background-color: #933a51;
}

@media (min-width: 768px) {
  .list-group {
    width: 50%;
  }
}

@media (min-width: 1020px) {
  .list-and-result-container {
    flex-direction: row;
  }
}

#recipe-container-major-ing {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* footer */

.welcome-footer {
  background-image: linear-gradient(
    to bottom,
    #22092c,
    #3a0e36,
    #54133d,
    #6e1941,
    #872341
  );
  color: var(--white);
  font-size: 1.5rem;
  padding: 4rem 1rem 1rem;
}

.welcome-footer p {
  font-size: 1.5rem;
  padding-top: 3rem;
}

.welcome-social-media {
  display: flex;
  justify-content: space-around;
  font-size: 3.5rem;
}

@media (min-width: 1200px) {
  .welcome-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .welcome-footer p {
    padding-top: 0;
  }
  .welcome-social-media {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 3rem;
  }
}

#PopUp {
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(71, 60, 60, 0.4);
  position: fixed;
  z-index: 20;
}
#Mensaje {
  position: absolute;
  width: 40%;
  min-height: 60%;
  margin-top: 3%;
  /* visibility: hidden;*/
  margin-left: 30%;
  z-index: 21;
  border-radius: 5px;
  border-style: solid;
  border-color: #22092c;
  background-image: url("../img/banner4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(157, 139, 139, 0.645);
  position: fixed;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
.logAction {
  margin-top: 20%;
}
.logAction input {
  margin-top: 15px;
}
#Mensaje img {
  width: 25px;
  float: right;
  background-color: #9e4a3dcb;
  margin-bottom: 20px;
  border-radius: 5px;
}

.frm_80pc {
  margin-left: 10%;
  margin-top: 5%;
  width: 80%;
}
.btnlogin {
  margin-top: 5%;
}
.Busqueda {
  float: right;
  margin-right: 3%;
  margin-bottom: 2%;
  width: 20%;
}
.Busqueda input {
  border-radius: 5px;
  height: 35px;
  width: 75%;
}
#imgBusqueda {
  max-width: 60px;
  float: right;
}
.m-wid50 {
  max-width: 50%;
}
.cursor_p {
  cursor: pointer;
}
/* Menu desplegable */

@media (max-width: 768px) {
  .nav {
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  #Mensaje{
  width: 90%;
  min-height: 60%;
  margin-top: 1%;
  margin-left: 5%;
}

  .nav.activo {
    height: max-content;
  }

  .btn-menu {
    background-color: transparent;
    border: none;
    font-size: 2.8rem;
    font-weight: 100;
    color: white;
  }
}
/* Cookies */

.cookies-major-container {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 3;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  visibility: visible;
}

.cookies-container {
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 1rem;
  width: 90%;
}

.cookie-title {
  text-align: center;
  padding-bottom: 2rem;
}
.cookie-title h3 {
  display: inline;
}
.cookie-title i {
  font-size: 4rem;
}

.cookie {
  padding-bottom: 2rem;
}

.cookie input {
  width: 1.5rem;
  height: 1.5rem;
}
.enlace-politicas {
  color: var(--orange);
  font-size: 1.9rem;
}

.btn-cookie {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.btn-cookie input {
  width: 100%;
  background-color: var(--grey);
  border: none;
  border-radius: 0.5rem;
  color: black;
  font-size: 1.7rem;
  font-weight: 600;
  height: 4.8rem;
}

@media (min-width: 768px) {
  .cookies-container {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .btn-cookie {
    width: 100%;
    text-align: center;
  }
  .btn-cookie input {
    width: 30%;
  }
}

/* #cookie-policy h1{
  font-size: 2.5em; 
  text-align: center;
  font-family: var(--fuenteHeading);
}

#cookie-policy h2{
  font-size: 2em; 
  text-align: center;
  font-family: var(--fuenteHeading);
}

#cookie-policy #last-update{
  display: block;
  text-align: center;
}

#cookie-policy .cookie-policy-text{
  text-align: justify;
  margin: 1%;
  font-family: var(--fuenteParrafos);
}

#cookie-policy #cookie-type .cookie-type-name{
  display: inline;
  font-weight: bold;
} */
.Resultado {
  width: 100%;

  /* visibility: hidden;*/
}
#Buscadores_Padre {
  max-width: 100%;
}
.Resultados {
  max-height: 100%;
  height: 100%;
}
